.light {
  background-color: white;
}

.dark {
  background-color: black;
}

.nav-header {
  background-color: white;
  margin-bottom: white;
  display: flex;
  justify-content: space-between;
  padding: 1px;
  backdrop-filter: blur(5px);
}

